<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Event planning</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/Site.css")
    @Scripts.Render("~/Content/bootstrap.css")
</head>
<body>
    @{
        ViewBag.Title = "Завершение регистрации";
    }

    <h2>@ViewBag.Title</h2>

    <p>На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации</p>
</body>
</html>
